body {
    margin: 0;
}

#todo-list-title {
    background-color: rgb(216, 63, 63);
    color: white;
    height: 8vh;
    font-size: 37px;
    text-align: center;
}

#main-container {
    display: grid;
    grid-template-columns: 45vw 55vw;
}

#menu-project-buttons {
    display: flex;
    width: 45vw;
    background-color: rgb(231, 224, 224);
    border: 1px solid black;
}

#menu-todo-buttons {
    display: flex;
    width: 55vw;
    background-color: rgb(231, 224, 224);
    border: 1px solid black;
}

#menu-project-buttons button, #menu-todo-buttons button {
    background-color: greenyellow;
    margin: 0.5rem;
    cursor: pointer;
    padding: 0.4rem;
}

#menu-project-buttons button:hover,
#menu-todo-buttons button:hover {
    background-color: rgb(148, 148, 231);
}

#project-container {
    width: 45vw;
    background-color: rgb(231, 224, 224);
    font-size: 18px;
    grid-column: 1;
    grid-row: 2;
}

#form-project, #edit-form-project {
    display: none;
    height: 2rem;
    padding: 1rem;
}

#form-project button, #edit-form-project button {
    background-color: aqua;
}

#form-project button:hover, #edit-form-project button:hover {
    background-color: rgb(205, 228, 170);
}

.project {
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    padding: 0.5rem 0;
}

.project:hover {
    background-color: rgb(75, 143, 232);
}

#todos-container {
    width: 55vw;
    border: 1px solid black;
    grid-column: 2;
}

.todo {
    text-align: center;
    border: 1px solid black;
    cursor: pointer;
    padding: 0.5rem 0;
}